body {
	background: black;
	font-family: arial;
	color: white;
}

tr {
	background: #999;	
}

tr menu {
	align-content: center;
}

tr td span {
	font-family: Lucida;
	font-style: italic;
}